[data-menu="mobile"] {
  display: none;
}

@media (max-width: 700px) {
  [data-menu="mobile"] {
    display: flex;
    padding: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 300;
    transition: transform 0.3s;
    float: right;
  }
  [data-menu="mobile"]::before {
    content: "";
    display: inline-block;
    height: 2px;
    width: 12px;
    background: #000;
    box-shadow: 0 4px #000, 0 -4px #000;
  }

  #menu {
    display: none;
    position: absolute;
    background: #fb5;
    width: 160px;
    z-index: 200;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
    right: 0;
    top: 101px;
    text-align: right;
  }
  #menu.active {
    display: block;
  }

  .dropdown-menu {
    position: static;
    border: none;
  }
  .dropdown-menu::before {
    margin-left: 96px;
  }
}
